<!DOCTYPE html>
<html>
<head>
	<title>数据标注</title>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
	<el-row>
		<h3 class="text-center">数据标注</h3>
	</el-row>
	{% block main %}
	{% endblock %}
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}

</html>
